<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/pandragon-nav.png"
  />
  <span>Chinese Student Association</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      Community
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      Events
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      About Us
    </a>
    <a id = join-us aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      Join Us
    </a>
</div>

<div class="content" role="main">
  <div class="header">
    
    <div style="width:40%;">
      <svg width="540" height="474" viewBox="0 0 540 474" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g filter="url(#filter0_i)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M246.839 1.07462C313.815 7.40129 356.13 64.2938 402.841 112.707C459.958 171.905 551.054 222.419 538.897 303.776C526.428 387.215 430.79 425.49 351.709 454.881C283.437 480.255 209.825 481.842 144.07 450.518C77.9409 419.016 26.8706 362.428 8.68353 291.473C-10.1229 218.102 0.882505 137.842 48.913 79.275C96.2401 21.566 172.536 -5.94412 246.839 1.07462Z" fill="#F8F8F8"/>
        </g>
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="540" height="474">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M246.839 1.07462C313.815 7.40129 356.13 64.2938 402.841 112.707C459.958 171.905 551.054 222.419 538.897 303.776C526.428 387.215 430.79 425.49 351.709 454.881C283.437 480.255 209.825 481.842 144.07 450.518C77.9409 419.016 26.8706 362.428 8.68353 291.473C-10.1229 218.102 0.882505 137.842 48.913 79.275C96.2401 21.566 172.536 -5.94412 246.839 1.07462Z" fill="#F8F8F8"/>
        </mask>
        <g mask="url(#mask0)">
        <rect x="7.67244" y="5.11496" width="468.873" height="468.873" fill="url(#pattern0)"/>
        </g>
        <defs>
        <filter id="filter0_i" x="0" y="0" width="540" height="473.974" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset/>
        <feGaussianBlur stdDeviation="25"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.968627 0 0 0 0 0.576471 0 0 0 0 0.364706 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
        </filter>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0" transform="scale(0.000555556)"/>
        </pattern>
        <image id="image0" width="1800" height="1800" href="/assets/pandragon-nav.png"></image>
        </defs>
      </svg>  
    </div>
    <div class="header-text">
      <h1>Welcome to Chinese Student Association!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium lorem neque varius euismod mi mauris egestas adipiscing morbi. Leo hac mi eu, sed vulputate velit duis. Sit fusce odio scelerisque dolor convallis ultrices.</p>
      <div class="email">
        <input type="email" class="email-input" name="email" placeholder="Email">
        <input type="submit" class="sign-up" value="Sign Up For CSA">
      </div>
    </div>
    <div class="header-img"></div>
  </div>
</div>



<router-outlet></router-outlet>